# dependencies
node_modules/
.pnp
.pnp.js

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build/Next.js
.next/
out/
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Prisma
# (Optional) ignore local SQLite if you use it, or docker pg data
pg-data/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/practical learning/
